body{
    background-color: darkslateblue;
    font-size: medium;
    font-family: sans-serif;
    
}






img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 5px;
}
vl{
border-left: 3px solid black;
height: 800px;
position: absolute;
left: 60%;
background-color: gray;
margin-left: 10px;

}